*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-image: url(../img/fondo-beige-envejecido.jpg);
    font-family: Arial, Helvetica, sans-serif;
}





.video{
    padding: 5%;
    margin-left: 1%;
    margin-bottom: 5rem;
}




.fotoArquitectos {
    width: 500px;
    margin-bottom: 5%;
    border-radius: 1rem;
    margin-left: 2rem;
    text-align: center;
}


.ubicacion{
    font-family: 'Bricolage Grotesque', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(41, 32, 32, 0.678);
}
h2{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: hsla(81, 14%, 38%, 0.701);
}
h3{
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
}
h4{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1rem;
    text-align: center;
}
h5{
    text-align: center;
}
a{
    color: black;
}


.formulario{
    line-height: 5px;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    line-height: 2rem;
}

section p{
    font-family: 'Barlow Condensed', sans-serif;
    padding: 2rem;
    margin: 1.5rem;
    line-height: 1;
    font-size: 2rem;
    font-weight: bold;
}
p{
    font-family: 'Barlow Condensed', sans-serif;
    padding: 2rem;
    margin: 1.5rem;
    margin-top: 3rem;
    line-height: 1;
    font-size: 2rem;
    font-weight: bold;
}

.diseno {
    width: 10%;
    height: 300px;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-right: 20px;
    gap: 2rem;
    

}

a:hover{
    opacity: 0.8;
    background-color: rgb(241, 235, 235);
    color: green;
}

a:active{
    background-color: aqua;
    color: blueviolet;
}



.borde {
    width: 50%;
    border-radius:2rem;
    border-width: 2rem;
    border-color: rgba(170, 73, 73, 0.237);
    margin-left: 25%;
}


.dario {
    width: 50px;
    margin-top: 6rem;
    margin-right: 3rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    grid-area: dario;

}
.textod {
    margin-top: 0.5rem;
}
.martina {
    width: 50px;
    margin-top: 6rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    grid-area: martina;
    
}
.rebeca {
    width: 50px;
    margin-top: 6rem;
    margin-bottom: 1rem;
    grid-area: rebeca;

}
.imagenes{
    grid-area: imagenes;
}
.padre{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0,9fr 0,9fr;
    grid-template-areas: 
    "dario martina rebeca"
    "imagenes imagenes imagenes";
}
