main{
    h2{
        font-family: $tipografiaTitulo;
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-weight: bold;
        color: hsla(80, 38%, 8%, 0.701);
    }
    p{
        font-family: $texto;
        padding: 2rem;
        margin: 1.5rem;
        margin-top: 3rem;
        line-height: 1;
        font-size: 2rem;
        font-weight: bold;
    }
}