
footer{
    background: rgb(186, 185, 178);
    background: linear-gradient(0deg, rgba(161, 160, 155, 0.216) 0%, rgba(151, 151, 146, 0.634) 100%);
    h4{
        font-family: 'Bricolage Grotesque', sans-serif;
        font-size: 1rem;
        text-align: center;
    }
    h5{
        text-align: center;
    }
    
}