
header {
        background-image: url(../img/);
        opacity: 3;
    div {
        .titulo {
            font-family: 'Bricolage Grotesque', sans-serif;
            text-align: center;
            font-size: 4rem;
            color: rgba(41, 32, 32, 0.678);
            animation-name: tit;
            animation-duration: 9s;
            animation-iteration-count: inherit;
        }
        @keyframes tit {
            0%{
                opacity: 0;
            }

            50%{
                opacity: 1;
            }
            
            100%{
                opacity: 1;
            }
        }
        h2{
            font-family: 'Bricolage Grotesque', sans-serif;
            font-size: 2rem;
            text-align: center;
            text-decoration: underline;
            margin-top: 4rem;
            margin-bottom: 2rem;
            font-weight: bold;
            color: hsla(81, 14%, 38%, 0.701);
        }
        .logo{
            margin-left: 2rem;
            width: 150px;
            height: 150px;
            position: absolute;
            display: flex;
            top: 0.5rem;
            left: 0;
        }
        .redes{
            display: flex;
            flex-direction: row;
            position: absolute;
            width: 40px;
            height: 40px;
            top: 1rem;
            right: 0;
            margin-right: 4.5rem;
            justify-content: space-evenly;
        }
        nav{
            .menu{
                list-style: none;
                text-align: center;
                margin-top: 0%;
                .paginas{
                    display: flex;
                    display: inline-block;
                    text-align: center;
                    padding: 15px;
                    font-size: 25px;
                    font-style: bold;  
                }

                a{
                    color: grey;
                    font-weight: bold;
                }
                a:hover{
                    transform: scale(1.2, 1.2);
                    color: black;
                    transform: translate(10px, 20px);
                    
                }
                
            }   
        }

    }
}