
header {
        background-color: blanchedalmond;
        background: linear-gradient(0deg, rgba(148, 142, 110, 0.216) 0%, rgba(243, 243, 232, 0.634) 100%);
    div {
        .titulo {
            font-family: $tipografiaTitulo;
            text-align: center;
            font-size: 5rem;
            color: rgba(41, 32, 32, 0.678);
            animation-name: tit;
            animation-duration: 9s;
            animation-iteration-count: inherit;
        }
        .titulo2{
            font-family: $tipografiaTitulo;
            text-align: center;
            font-size: 3rem;
            color: rgba(41, 32, 32, 0.678);
        }
        @keyframes tit {
            0%{
                opacity: 0;
            }

            50%{
                opacity: 1;
            }
            
            100%{
                opacity: 1;
            }
        }       
        .logo{
            margin-left: 2rem;
            width: 150px;
            height: 150px;
            position: absolute;
            display: flex;
            top: 0.5rem;
            left: 0;
        }
        .redes{
            display: flex;
            flex-direction: row;
            position: absolute;
            width: 40px;
            height: 40px;
            top: 1rem;
            right: 0;
            margin-right: 4.5rem;
            justify-content: space-evenly;
        }
        nav{
            .menu{
                list-style: none;
                text-align: center;
                margin-top: 0%;
                .paginas{
                    display: flex;
                    display: inline-block;
                    text-align: center;
                    padding: 15px;
                    font-size: 25px;
                    font-style: bold;  
                }

                a{
                    color: grey;
                    font-weight: bold;
                }
                a:hover{
                    transform: scale(1.2, 1.2);
                    color: black;
                    transform: translate(10px, 20px);
                    
                }
                
            }   
        }

    }
}