main{
    h2{
        font-family: 'Bricolage Grotesque', sans-serif;
        font-size: 3rem;
        text-align: center;
        text-decoration: underline;
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-weight: bold;
        color: hsla(81, 14%, 38%, 0.701);
        }
    .padre{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0,9fr 0,9fr;
        grid-template-areas: 
        "dario martina rebeca"
        "imagenes imagenes imagenes";
        .dario{
            width: 50px;
            margin-top: 6rem;
            margin-right: 3rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            grid-area: dario;
            h5{
                text-align: center;
            }
            p{
                font-family: 'Barlow Condensed', sans-serif;
                padding: 2rem;
                margin: 1.5rem;
                margin-top: 3rem;
                line-height: 1;
                font-size: 2rem;
                font-weight: bold;
            }
        }
        .martina{
            width: 50px;
            margin-top: 6rem;
            margin-right: 3rem;
            margin-bottom: 1rem;
            grid-area: martina;
            h5{
                text-align: center;
            }
            p{
                font-family: 'Barlow Condensed', sans-serif;
                padding: 2rem;
                margin: 1.5rem;
                margin-top: 3rem;
                line-height: 1;
                font-size: 2rem;
                font-weight: bold; 
            }
        }
        .rebeca{
            width: 50px;
            margin-top: 6rem;
            margin-bottom: 1rem;
            grid-area: rebeca;
            h5{
                text-align: center;
            }
            p{
                font-family: 'Barlow Condensed', sans-serif;
                padding: 2rem;
                margin: 1.5rem;
                margin-top: 3rem;
                line-height: 1;
                font-size: 2rem;
                font-weight: bold; 
            }
        }
    }

    div{
        div{
            .imagenes{
                grid-area: imagenes;
            }
        }
    }
}