.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.tit{
    grid-area: tit;
}

main{
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0,9fr, 0,9fr 0,9fr;
    grid-template-areas:
    "tit tit tit"
    "dario martina rebeca"
    "imagenes imagenes imagenes";

    h2{
        @include estiloh2
    }
        .dario{
            width: 50%;
            margin-top: 6rem;
            margin-right: 3rem;
            margin-left: 3rem;
            margin-bottom: 1rem;
            grid-area: dario;
            h5{
                text-align: center;
            }
            p{
                @include estiloparrafo
            }
        }
        .martina{
            width: 50%;
            margin-top: 6rem;
            margin-right: 3rem;
            margin-left: 3rem;
            margin-bottom: 1rem;
            grid-area: martina;
            h5{
                text-align: center;
            }
            p{
                @include estiloparrafo 
            }
        }
        .rebeca{
            width: 50%;
            margin-top: 6rem;
            margin-bottom: 1rem;
            margin-left: 3rem;
            grid-area: rebeca;
            h5{
                text-align: center;
            }
            p{
                @include estiloparrafo
            }
        }
        
    }

    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0,9fr 0,9fr 0,9fr 0,9fr;
        grid-template-areas: 
        "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
        }
    div{
        div{
            .imagenes{
                grid-area: imagenes;
                margin-top: 5rem;
            }
        }
    }


