main{
    h2{
        @include estiloh2
    }
    .padre{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0,9fr 0,9fr;
        grid-template-areas: 
        "dario martina rebeca"
        "imagenes imagenes imagenes";
        .dario{
            width: 50px;
            margin-top: 6rem;
            margin-right: 3rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            grid-area: dario;
            h5{
                text-align: center;
            }
            p{
                @include estiloparrafo
            }
        }
        .martina{
            width: 50px;
            margin-top: 6rem;
            margin-right: 3rem;
            margin-bottom: 1rem;
            grid-area: martina;
            h5{
                text-align: center;
            }
            p{
                @include estiloparrafo 
            }
        }
        .rebeca{
            width: 50px;
            margin-top: 6rem;
            margin-bottom: 1rem;
            grid-area: rebeca;
            h5{
                text-align: center;
            }
            p{
                @include estiloparrafo
            }
        }
    }

    div{
        div{
            .imagenes{
                grid-area: imagenes;
            }
        }
    }
}

