
main{
    h2{
        @include estiloh2
    }
    div{
        .parrafoq{
            font-family: $texto;
            padding: 2rem;
            margin-left: 5rem;
            line-height: 1;
            font-size: 2rem;
            font-weight: bold; 
        }
    }
    .fotoArquitectos{
        width: 500px;
        margin-bottom: 5%;
        margin-top: 3%;
        border-radius: 1rem;
        margin-left: 2rem;
        text-align: center;
        }
    }
