.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.tit{
    grid-area: tit;
}
.main{
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0,9fr, 0,9fr;
    grid-template-areas:
    "tit tit"
    "texto foto";

    h2{
        @include estiloh2
    }
    .texto{
        grid-area: texto;
        .parrafoq{
            font-family: $texto;
            padding: 2rem;
            margin-left: 5rem;
            line-height: 1;
            font-size: 2rem;
            font-weight: bold; 
        }
    }
    .fotoArquitectos{
        grid-area: foto;
        width: 70%;
        margin-bottom: 5%;
        margin-top: 3%;
        border-radius: 1rem;
        margin-left: 2rem;
        text-align: center;
        }
    }

.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0,9fr 0,9fr 0,9fr, 0,9fr;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

@media screen and (max-width: 576px){
    .contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: 0,9fr 0,9fr 0,9fr;
        grid-template-areas:
        "header "
        "main "
        "footer ";
    }
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: 0,9fr, 0,9fr, 0.9fr;
        grid-template-areas:
        "tit "
        "texto"
        "foto";
        }
}

@media screen and (min-width: 1200px){
    .contenedor {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0,9fr 0,9fr 0,9fr, 0,9fr;
        grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    }
    .main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0,9fr, 0,9fr;
        grid-template-areas:
        "tit tit"
        "texto foto";
        }
}
